<template name="mapRecallDetails">
  <div class="recallDetailsHeader">
    <div>
      <a href="#" id="detMinMax" class="pull-left">
        <span id="detMinMaxSpan" class="glyphicon glyphicon-minus"></span>
      </a>
    </div>
    <div> Recall Details </div>
  </div>
  <br>
  <div id="recallDetails">
    <!-- <div><b>Date Reported : </b> moment(this.report_date, 'YYYYMMDD').format('MMMM DD, YYYY') </div> -->    
    <div><b>Status : </b> {{this.status}} </div>
    <div><b>Recalling Firm : </b> {{this.recalling_firm}} </div>
    <div><b>Product Description : </b> {{this.product_description}} </div>
    <div><b>Reason for Recall : </b> {{this.reason_for_recall}} </div>
    <div><b>Product Quantity : </b> {{this.product_quantity}} </div>
    <div><b>Code Information : </b> {{this.code_info}} </div>
    <div><b>Product Type : </b> {{this.product_type}} </div>
    <div><b>Recall # : </b> {{this.recall_number}} </div>
    <!-- <div><b>Date Initiated : </b> moment(this.recall_initiation_date, 'YYYYMMDD').format('MMMM DD, YYYY') </div> -->
    <div><b>Classification : </b> {{this.classification}} </div>
    <div><b>State : </b> {{this.state}} </div>
    <div><b>City : </b> {{this.city}} </div>
    <div><b>Distribution Pattern : </b> {{this.distribution_pattern}} </div>
  </div>
</template>