<template name="mapSplashModal">
  <div id="mapSplashModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div id="mapSplashModalContent" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="mapSplashModalTitle">Welcome to Foodwatch!</h4>
        </div>
        <div class="modal-body">
          <div class="splash">
            <p class="intro">
              Select a recall from the Latest Food Recalls drop down to see the source state of the 
              food item recall and the states to which the product was shipped. You can change the 
              list in the drop down by selecting a state on the map or the state filter.  
              The most recent 60 days of recall items are selected automatically from
              <a href="http://open.fda.gov" target="_blank">open.fda.gov</a> when the filters are changed.
            </p>
            <div class="row">
              <div class="col-xs-6">
                <div id="mapLegendPanel" class="panel panel-default">
                  <div class="panel-heading">
                    <b class="panel-title">Legend</b>
                  </div>
                  <div class="panel-body">
                    <div><span class="legendBlock origin"></span> Origin</div>
                    <div><span class="legendBlock destination"></span> Destination</div>
                    <div><span class="legendBlock originDestination"></span> Origin & Destination</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div id="gotit">
                  <a class="btn btn-success btn-lg" href="#" >Got it!</a>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>        
    </div>
  </div>
</template>