html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

.origin{
	background: blue;
	opacity: 0.6;
}

.destination{
	background: red;
	opacity: 0.2;
}

.originDestination{
	background: purple;
	opacity: 0.4;	
}

.legend {
	font-size: smaller;
	font-weight: bold;
	margin-left: 20px;
	display: inline-block;
	position: relative;
	top: -22px;
	text-align: left;
}

.legendBlock {
	width: 17px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
}

#container {
  width: 100%;  
  height: 100%;
}

.title {
  margin-top: 0; 
  margin-bottom: 10px; 
  text-align: center;
}

.notice {
  margin: 10px 0 5px 0;
  line-height: 1.5;
  text-align: center;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.recall-selector{
  width:400px;  
}

.recall-detail {
	width:400px;	
}

@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */
  .notice {
    font-size: 11px;
  }
}

@media all and (max-width: 320px) {
  /* styles for iPhone/Android portrait */
  .notice {
      font-size: 11px;
  }
}

@media all and (max-width: 240px) {
  /* styles for smaller devices */
  .notice{
    font-size: 11px;
  }
}