html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
}

#recallLimit{
	padding: 6px 8px;
}

.origin{
	background: blue;
	opacity: 0.6;
}

.destination{
	background: red;
	opacity: 0.2;
}

#latestFoodRecallReasonFilter{
	margin: 10px 0px 0px 4px;
	padding: 0px 0px 0px 4px;
	border-radius: 4px;	
	font: 14px/22px Arial, Helvetica, sans-serif;
}

#recallDiv{
	padding: 10px 4px 4px 4px;
	float:left;
}

.originDestination{
	background: purple;
	opacity: 0.4;	
}

#latestFoodRecallStateDiv{
	margin: 0px 0px 0px 4px;
}

#gotit{
	text-align: right;
}

.logo {
	padding: 6px 8px;
	font: 20px/22px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;	
}

#affordanceOpen{
	float:right;
}

.splash{     
     width:33%;
     height:auto;
     z-index:15;
     top:50%;     
     background:white;
	 border-radius: 5px;
	 padding: 6px 8px;
	 font: 14px/16px Arial, Helvetica, sans-serif;
	 box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.legend {
	font-size: smaller;
	font-weight: bold;
	margin-left: 20px;
	display: inline-block;
	position: relative;
	top: -22px;
	text-align: left;
}

.legendBlock {
	width: 17px;
	height: 17px;
	vertical-align: middle;
	display: inline-block;
}

#container {
  width: 100%;  
  height: 100%;
}

.title {
  margin-top: 0; 
  margin-bottom: 10px; 
  text-align: center;
}

.notice {
  margin: 10px 0 5px 0;
  line-height: 1.5;
  text-align: center;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.recall-selector{
  width:300px;  
}

.recall-detail {
	width:300px; 
	height:300px;
	overflow: auto;
}

@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */
  .notice {
    font-size: 11px;
  }
}

@media all and (max-width: 320px) {
  /* styles for iPhone/Android portrait */
  .notice {
      font-size: 11px;
  }
}

@media all and (max-width: 240px) {
  /* styles for smaller devices */
  .notice{
    font-size: 11px;
  }
}